---
layout: page
image: /assets/images/know-your-worth-title.PNG
---

<blockquote>
  <p>
      This year we surveyed our membership to see what you were earning, what you thought
       about diversity at your organisation, the perks of your job, and what was important
        to you when looking for a new job. We noticed some differences in median base salaries
         compared to last year. One factor was a larger sample size that was biased towards people
          in the early stages of their career, skewing overall medians lower. We’re thinking abou
           how we might do this survey differently next year, so we can present more useful data – please get in touch.
</p>
  
</blockquote>

The main content area (for loading blog post previews)
<!-- <div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %} -->

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        <!-- {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div> -->
